name: ci

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  fmt_clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - name: Cargo fmt
        run: cargo fmt --all -- --check
      - name: Cargo clippy
        run: cargo clippy --all-targets --all-features --target x86_64-unknown-linux-gnu -- -D warnings

  tests:
    runs-on: ubuntu-latest
    needs: fmt_clippy
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cargo test
        run: cargo test --all-features --target x86_64-unknown-linux-gnu

  miri:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: miri
      - name: Cargo miri setup
        run: cargo miri setup
      - name: Cargo miri test
        env:
          MIRIFLAGS: -Zmiri-disable-isolation
        run: cargo miri test --all-features --target x86_64-unknown-linux-gnu
